# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.code-workspace

# OS and Log files
Thumbs.db
Desktop.ini
*.log
